
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/datatables.css" rel="stylesheet" />
<h2>Alumons</h2>

<label>selecione sexo</label>
<select id="cboSexo">
    
</select>
<input type="button" id="btnBuscar" value="buscar" class="btn btn-success" />
<input type="button" id="btnLimpiar" value="limpiar" class="btn btn-warning" />
<div id="tabla">
    
</div>

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/datatables.min.js"></script>
<script src="~/scripts/AlumnosJs.js"></script>
